---
# GrupoICU SASS Stylesheet
---
$primary: #f8c42f;
$secondary: #333;
$offwhite: #fff;

$page-width: 85%;

@import "normalize";
@import "typography";
@import "contact-details";
@import "logo";
@import "navigation";
@import "misc";
@import "banner";
@import "quotation";
@import "companies";
