---
# GrupoICU SASS Stylesheet
---
$primary: #f8c42f;
$offwhite: #fff;
$darkgrey: #282c34;
$lightgrey: rgba(40, 44, 52, 0.9);

$page-width: 85%;

@import "normalize";
@import "typography";
@import "contact-details";
@import "logo";
@import "navigation";
@import "misc";
@import "banner";
@import "quotation";
@import "companies";
@import "statistics";
@import "projects";
@import "testimonial";
@import "footer";
@import "responsive";
