---
# GrupoICU SASS Stylesheet
---
$primary: #F8C42F;
$secondary: #000;

$nav-height: 2.3em;

$page-width: 85%;

@import "normalize";
@import "typography";
@import "header";
@import "misc";
@import "slider";
