<nav class="navigation">
  <ul>
    <li><a href="{{ site.baseurl }}">Inicio</a></li>
    <li><a href="{{ site.baseurl }}construccion-panama">Construcción</a></li>
    <li><a href="{{ site.baseurl }}losas-postensadas-panama">Losas postensadas</a></li>
    <li><a href="{{ site.baseurl }}diseno-estructural-panama">Diseño estructural</a></li>
    <li><a href="{{ site.baseurl }}inspeccion-tecnica-obra-panama">Inspección tecnica</a></li>
    <li><a href="{{ site.baseurl }}contactenos">Contáctenos</a></li>
  </ul>
</nav>

<script>
    $('nav a').each(function() {
      if ($(this).attr("href") == window.location.pathname) {
        $(this).parent().attr("id", "current");
      }
    });
</script>
