<nav class="navigation">
  <ul>
    <li><a href="{{ site.baseurl }}">Inicio</a></li>
    <li><a href="{{ site.baseurl }}item1">Construcción</a></li>
    <li><a href="{{ site.baseurl }}item2">Postensadas</a></li>
    <li><a href="{{ site.baseurl }}item3">Diseño</a></li>
    <li><a href="{{ site.baseurl }}item4">Inspecciones</a></li>
    <li><a href="{{ site.baseurl }}contact">Contactenos</a></li>
  </ul>
</nav>

<script>
    $('nav a').each(function() {
      if ($(this).attr("href") == window.location.pathname) {
        $(this).parent().attr("id", "current");
      }
    });
</script>
