.banner {
  background-image: url('/assets/example.jpg');
  background-repeat: no-repeat;
  background-position: center;
  h2 {
    display: table;
    padding-top: 2em;
    color: $offwhite;
    white-space: pre-wrap;
    span {
      background: rgba(255, 255, 255, .1);
      vertical-align: middle;
    }
  }
}
