#current {
  border-bottom: 0.2em solid $primary;
}

.normal-menu {
  ul {
    padding: 0;
    text-align: center;
    list-style: none;
    width: $page-width;
    margin: 0.7em auto 0 auto;
    li {
      display: inline-block;
      margin: 0 1em;
      &:hover {
        border-bottom: 0.2em solid $primary;
      }
      a {
        text-decoration: none;
        color: $darkgrey;
        font-size: 1.2em;
      }
    }
  }
}

.responsive-menu-toggle {
  display: none;
}

.responsive-menu {
  display: none;
}
